@charset "utf-8";

html {
  font-size: 10px;
}

body{
	overflow:hidden;
}

.title{
    font-size: 300%;
    text-align: center;
}

.btn1{
    font-size:300%;
    margin:auto;
	display: inline;
	padding:8rem 6rem;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height:20rem;
	background-color: rgb(44, 185, 44);
	border-radius: 0.8rem;
	transition: all 400ms;
	border-bottom: 2rem solid #888;
	position:relative;
	top: 0px;

}
.btn1:hover{
	background-color: rgb(115, 194, 115);
	color:#555;
	cursor: pointer;
}
.btn1:active{
	border-bottom: 0px solid #888;
		position:relative;
	top: 20px;
	transition: all 100ms;
}


.buttontyuuou{
    text-align:center;
}

.btn2{
	margin: 0px 0px;
	padding:0.8rem 0.64rem;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height:3rem;
	background-color: #1e90ff;
	border-radius:0px;
	transition: background-color 300ms 0s;
	position:relative;
	top: 0px;

}
.btn2:hover{
	background-color: rgb(138, 202, 255);
	color:#555;
	cursor: pointer;
}
.btn2:active{
	position:relative;
	transition: all 100ms;
}

.btn21{
	margin: 0px 0px;
	padding:0.8rem 1rem
	color: #fff;
	border-radius: 0px;
	text-decoration: none;
	text-align: center;
	line-height:3rem
	background-color: #1e90ff;
	transition: background-color 300ms 0s;
	position:relative;
	top: 0px;

}
.btn21:hover{
	background-color: rgb(138, 202, 255);
	color:#555;
	cursor: pointer;
}
.btn21:active{
	position:relative;
	transition: all 100ms;
}

.btn22{
	margin: 0px 0px;
	padding:0.8rem 0.82rem;
	color: #fff;
	border-radius: 0px;
	text-decoration: none;
	text-align: center;
	line-height:3rem;
	background-color: #1e90ff;
	transition: background-color 300ms 0s;
	position:relative;
	top: 0px;

}
.btn22:hover{
	background-color: rgb(138, 202, 255);
	color:#555;
	cursor: pointer;
}
.btn22:active{
	position:relative;
	transition: all 100ms;
}

.btn3{
    font-size:100%;
    margin:auto;
	display: inline;
	padding:0.5rem 1rem;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height:2rem;
	background-color: rgb(44, 185, 44);
	border-radius: 0.4rem;
	transition: all 400ms;
	border-bottom: 0.5rem solid #888;
	position:relative;
	top:0.5rem;

}
.btn3:hover{
	background-color: rgb(115, 194, 115);
	color:#555;
	cursor: pointer;
}
.btn3:active{
	border-bottom: 0px solid #888;
		position:relative;
	top: 1rem;
	transition: all 100ms;
}

.kotaediv{
	position: relative;
	left: 55rem;
	bottom: 27rem;
}

.kotae{
	font-size: 300%;
	position: relative;
	left: 7.5rem;
}

.kotaebanngou{
	position: relative;
	top: 5rem;
	left: 6rem;
}
.kotaename{
	position: relative;
	font-size: 110%;
	left: 4rem;
	bottom: 4rem;
}

.syuukihyou{
	position: relative;
	bottom: 37rem;
}

.btn22r{
	border-radius: 0px;
	margin: 0px 0px;
	padding:0.8rem 0.82rem;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height:3rem;
	background-color: #c74242;
	transition: background-color 300ms 0s;
	position:relative;
	top: 0px;

}

.btn22rr{
	border-radius: 0px;
	margin: 0px 0px;
	padding:0.8rem 0.82rem;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height:3rem;
	background-color: #c74242;
	transition: background-color 300ms 0s;
	position:relative;
	top: 0px;

}
.btn22rr:hover{
	background-color: #f2958d;
	color:#555;
	cursor: pointer;
}
.btn22rr:active{
	position:relative;
	transition: all 100ms;
}

.btn22r2{
	border-radius: 0px;
	margin: 0px 0px;
	padding:0.8rem 0.82rem;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height:3rem;
	background-color: #3ebd42;
	transition: background-color 300ms 0s;
	position:relative;
	top: 0px;

}

.btn22rr2{
	border-radius: 0px;
	margin: 0px 0px;
	padding:0.8rem 0.82rem;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height:3rem;
	background-color: #3ebd42;
	transition: background-color 300ms 0s;
	position:relative;
	top: 0px;

}
.btn22rr2:hover{
	background-color: #a5e6a7;
	color:#555;
	cursor: pointer;
}
.btn22rr2:active{
	position:relative;
	transition: all 100ms;
}

.btn2r{
	border-radius: 0px;
	margin: 0px 0px;
	padding:0.8rem 0.64rem;
	color: #fff;
	text-decoration: none;
	text-align: center;
	line-height:3rem;
	background-color: #3ebd42;
	transition: background-color 300ms 0s;
	position:relative;
	top: 0px;

}
.btn2r:hover{
	background-color: #a5e6a7;
	color:#555;
	cursor: pointer;
}
.btn2r:active{
	position:relative;
	transition: all 100ms;
}


#sakujo{
	position: relative;
	font-size: 200%;
	top: 3rem;
	left: 20rem;
}

.hyou{
	position: relative;
	left: 30rem;
}

.setumei{

	position: relative;
	top: 6rem;
}

.wakusen{
	position: relative;
	display: inline;
	size: 50%;
	border: 5px  solid #3defff;
	background-color: #3defff;
	left: 58.5rem;
	bottom: 9rem;
	padding: 4rem 7rem;
}
